# ----------------------------------
# Database connection

DB_HOST=
DB_DATABASE=
DB_USER=
DB_PASS=
DB_PORT=

# ----------------------------------
# Security & redirect

# Comma sepearted adddresses like https://www.wiseboxs.com, https://localhost:5173 <- no slash at end
CORS=
# Generate with node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
SESSION_SECRET=

# ----------------------------------
# Run at

PORT=4000

# GOOGLE API TOKEN JSON - generated with generateEmailAuthToken.js
GOOGLE_API_TOKEN_JSON={"type":"authorized_user","client_id":"YOUR_CLIENT_ID","client_secret":"YOUR_CLIENT_SECRET","refresh_token":"YOUR_REFRESH_TOKEN"}